<!DOCTYPE html>
{% set title = "Андрей Викторов | Full Stack Веб-Разработчик" %}
{% set description = "Создание и провижение сайтов, интернет-магазинов и веб-приложений для различных сфер бизнеса, от одностраничных лэндингов до больших корпоративных сайтов и интернет-магазинов. Выполняю все этапы разработки." %}
{% set keywords = "Разработка, программирование, продвижение, сайты, веб-приложения, одностраничный сайт, лэндинг, многостраничный сайт, корпоративный сайт, интернет-магазин, адаптивная верстка, кроссбраузерная верстка, верстка Pixel Perfect, препроцессор, шаблонизатор, оптимизация, Frontend, фронтенд, Backend, бэкенд, CMS, HTML, CSS, SCSS, Gulp, Google PageSpeed, JavaScript, React JS, PHP, Laravel, MySQL, WebPack, Git" %}
{% set url = "https://rightcode.pro" %}

<html lang="ru-RU">
    <head>
        <!-- Encoding -->
        <meta charset="UTF-8">

        <!-- Mobile support -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Title and SEO -->
        <title>{{ title }}</title>
        <meta name="description" content="{{ description }}">
        <meta name="keywords" content="{{ keywords }}">
        <link rel="canonical" href="{{ url }}"/>

        <!-- Styles -->
        <link rel="stylesheet" href="./css/main.css">

        <!-- Favicons -->
        <link rel="apple-touch-icon" sizes="180x180" href="./../img/favicons/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="./../img/favicons/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="./../img/favicons/favicon-16x16.png">
        <link rel="manifest" href="./../img/favicons/site.webmanifest">

        <!-- OpenGraph -->
        <meta property="og:url" content="{{ url }}">
        <meta property="og:type" content="website">
        <meta property="og:title" content="{{ title }}">
        <meta property="og:description" content="{{ description }}">
        <meta property="og:image" content="./img/opengraph.jpg">
    </head>

    <body>
        {% include './blocks/loader.html' %}

        <div class="container">
            {% include './blocks/header.html' %}

            <main class="main">
                {% include './sections/about.html' %}
                {% include './sections/projects.html' %}
                {% include './sections/experience.html' %}
                {% include './blocks/footer.html' %}
            </main>
        </div>

        <!-- Scripts -->
        <script type='module' src="./js/index.js"></script>
    </body>

</html>