<!DOCTYPE html>
{% set title = "Андрей Викторов | Full Stack Веб-Разработчик" %}
{% set url = "https://rightcode.ru/" %}
{% set description = "Создание и провижение сайтов, интернет-магазинов и веб-приложений." %}
{% set keywords = "Разрабатка, программирование, продвижение, сайты, веб-приложений, одностраничный, лэндинг, многостраничный, корпоративный сайт, интернет-магазин, верстка, Pixel Perfect, препроцессор, шаблонизатор, Gulp, оптимизация, Google PageSpeed, JavaScript, Frontend, SPA приложения, фреймворк, React, React JS, PHP, Backend, CMS, Laravel." %}

<html lang="ru-RU">
    <head>
        <!-- Encoding -->
        <meta charset="UTF-8">

        <!-- Mobile support -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

        <!-- Title and SEO -->
        <title>{{ title }}</title>
        <meta name="description" content="{{ description }}"/>
        <meta name="keywords" content="{{ keywords }}"/>

        <!-- Styles -->
        <link rel="stylesheet" href="./css/main.css"/>

        <!-- Favicons -->
        <link rel="apple-touch-icon" sizes="180x180" href="./../img/favicons/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="./../img/favicons/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="./../img/favicons/favicon-16x16.png">
        <link rel="manifest" href="./../img/favicons/site.webmanifest">

        <!-- OpenGraph -->
        <!-- Yandex.Metrika counter -->
    </head>

    <body>
        {% include './blocks/loader.html' %}
        {# {% include './blocks/languages.html' %} #}

        <div class="container">
            {% include './blocks/header.html' %}

            <main class="main">
                {% include './sections/about.html' %}
                {% include './sections/projects.html' %}
                {% include './sections/experience.html' %}
                {% include './blocks/footer.html' %}
            </main>
        </div>
    </div>

    <!-- Scripts -->
    <script type='module' src="./js/index.js"></script>
    <!-- <script src="./js/index.bundle.js"></script> -->
</body>

</html>