.experience {
    margin-bottom: 144px;
    scroll-margin-top: 96px;

    @include bp(1024px) {
        margin-bottom: 96px;
    }

    @include bp(768px) {
        margin-bottom: 64px;
    }
}

.experience__list>li {
    margin-bottom: 48px;
}

.experience__details {
    margin-top: 48px;
}