.icon {
    display: block;
    flex-shrink: 0;

    &--telegram,
    &--email,
    &--github,
    &--linkedin {
        width: 24px;
        height: 24px;
        transition: transform .2s ease-in;

        &:hover {
            transform: scale(1.2);
        }
    }

    &--arrow-right {
        width: 20px;
        height: 20px;
    }

    &--arrow-up-right {
        width: 16px;
        height: 16px;
    }

    &--arrow-right,
    &--arrow-up-right {
        transition: transform .2s ease-in;
    }

    &--github-link {
        width: 16px;
        height: 16px;
    }

    &--ru {
        width: 18px;
        height: 12px;
    }

    &--us {
        width: 18px;
        height: 12px;
    }

    &--fi {
        width: 18px;
        height: 11px;
    }

    &--ru,
    &--us,
    &--fi {
        transition: box-shadow .2s ease-in-out;

        &:hover {
            transform: unset;
            box-shadow: rgba(94, 234, 212, 0.5) 0px 0px 2px 2px;
        }
    }
}