.icon {
    display: block;
    flex-shrink: 0;

    &--arrow-next {
        width: 8px;
        height: 12px;
    }

    &--github,
    &--linkedin,
    &--codepen,
    &--instagram,
    &--twitter,
    &--goodreads {
        width: 24px;
        height: 24px;
    }
}