.details-button {
    display: flex;
    column-gap: 4px;
    padding-bottom: 1px;
    border: 1px solid transparent;
    font-weight: 600;
    line-height: 1.25;
    color: rgb(226 232 240);

    &>span {
        border-bottom: 1px solid transparent;
        transition: border-bottom .2s ease-in;
    }

    &:hover {
        &>span {
            border-bottom: 1px solid rgb(94 234 212);
        }

        svg {
            transform: translateX(8px);
        }
    }
}