.footer {
    color: rgb(100 116 139);
    font-size: .875rem;
    line-height: 1.25rem;
    max-width: 32rem;

    & a.link {
        color: rgb(148 163 184);
        font-weight: 500;


        &:hover {
            color: rgb(94 234 212);
        }
    }

    & strong {
        color: rgb(148 163 184);
        font-weight: 500;
    }
}