.footer {
    max-width: 512px;
    font-size: 14px;
    line-height: 20px;
    color: rgb(100 116 139);

    & a.link {
        color: rgb(148 163 184);

        &:hover {
            color: rgb(94 234 212);
        }
    }

    & strong {
        color: rgb(148 163 184);
    }
}