.header {
    height: 100vh;
    // box-sizing: border-box;
    position: sticky;
    top: 0;

    padding-top: 96px;
    padding-bottom: 96px;

    width: 50%;

    display: flex;
    flex-direction: column;
    // justify-content: space-between;
    flex-shrink: 0;

    // background-color: green;


    @include bp(1024px) {
        position: static;
        width: 100%;
        height: unset;
        padding-bottom: 0;
    }

    @include bp(768px) {
        padding-top: 3rem;
        // padding-bottom: 3rem;
        // padding-left: 1.5rem;
        // padding-right: 1.5rem;
    }
}

.header__info {
    line-height: 1.5;
    max-width: 20rem;
    margin-top: 1rem;
}

.header__nav {
    margin-top: 4rem;
}