.header__nav {
    @include bp(1024px) {
        display: none;
    }
}

.nav-link {
    padding-top: .75rem;
    padding-bottom: .75rem;
    align-items: center;
    display: flex;

    &:hover,
    &--active {
        .nav-link__strip {
            width: 4rem;
            background-color: rgb(226 232 240);
        }

        .nav-link__text {
            color: rgb(226 232 240);
        }
    }
}

.nav-link__strip {
    display: block;
    height: 1px;
    background-color: rgb(71 85 105);
    margin-right: 1rem;
    width: 2rem;
}

.nav-link__text {
    color: rgb(100 116 139);
    letter-spacing: .1em;
    text-transform: uppercase;
    font-weight: 700;
    font-size: .75rem;
    line-height: 1rem;
}