.nav-link {
    padding-top: 12px;
    padding-bottom: 12px;
    align-items: center;
    display: flex;

    &:hover,
    &--active {
        .nav-link__strip {
            width: 64px;
            background-color: rgb(226 232 240);
        }

        .nav-link__text {
            color: rgb(226 232 240);
        }
    }
}

.nav-link__strip {
    display: block;
    height: 1px;
    background-color: rgb(71 85 105);
    margin-right: 16px;
    width: 32px;

    transition: width .4s ease-in, background-color .3s ease-in;
}

.nav-link__text {
    color: rgb(100 116 139);
    letter-spacing: .1em;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;

    transition: color .4s ease-in;
}