<div class="experience-card">
    <div class="card-highlight"></div>

    <div class="experience-card__aside">
        {{ card.from }}
        {% if card.to %}
            — {{ card.to }}
        {% endif %}
    </div>

    <div class="experience-card__main">
        <a class="link experience-card__title" href="{{ card.link }}" target="_blank">
            <span class="card-overlay"></span>
            <h4 class="h4">
                <span>{{ card.title }}</span>
                <svg class="icon icon--arrow-up-right">
                    <use xlink:href="./img/icons/sprite.svg#arrow-up-right"></use>
                </svg>
            </h4>
        </a>

        <div class="experience-card__text">
            <p>{{ card.text }}</p>
        </div>

        {% if card.badges | length %}
            <ul class="badges">
                {% for badge in card.badges %}
                    <li>
                        {% include './../elements/badge.html' %}
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
</div>