<div class="projects__card">
    <div class="projects__card-image">
        <img src="{{ card.image }}"/>
    </div>

    <div class="projects__card-content">
        <a class="projects__card-header link" href="{{ card.preview }}" target="_blank">
            <h3>{{ card.title }}</h3>
            <svg class="icon icon--arrow-up-right">
                <use xlink:href="./img/icons/sprite.svg#arrow-up-right"></use>
            </svg>
        </a>

        <div class="projects__card-text">
            <p>
                {{ card.text }}
            </p>
        </div>

        <a href="{{ card.github }}" class="projects__card-git-link" target="_blank">
            <svg class="icon icon--github-link">
                <use xlink:href="./img/icons/sprite.svg#github-link"></use>
            </svg>
        </a>

        <ul class="badges-list">
            {% for badge in card.badges %}
                <li>
                    {% include './../elements/badge.html' %}
                </li>
            {% endfor %}
        </ul>
    </div>

    <div class="card-overlay"></div>
</div>