.experience-card {
    position: relative;
    display: flex;
    column-gap: 16px;
    border-radius: 6px;

    &:hover {
        .card-highlight {
            display: block;
        }
    }

    @include bp(640px) {
        flex-direction: column;
    }
}

.experience-card__aside {
    margin-top: 4px;
    margin-bottom: 8px;
    width: calc((100% - 112px) / 8 * 2 + 16px);
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .025em;
    text-transform: uppercase;
    line-height: 16px;
    color: rgb(100 116 139);
    z-index: 1;

    @include bp(640px) {
        width: 100%;
    }
}

.experience-card__main {
    width: calc((100% - 112px) / 8 * 6 + 80px);
    font-size: 14px;
    line-height: 1.5;
    z-index: 1;

    @include bp(640px) {
        width: 100%;
    }
}

.experience-card__title {
    display: inline-flex;
    align-items: flex-end;
    column-gap: 2px;

    & svg {
        transform: translate(0px, -1.5px);
        transition: transform .2s ease-in;
    }

    &:hover {
        & svg {
            transform: translate(3px, -3px);
        }
    }
}

.experience-card__text {
    margin-top: 8px;
    font-size: 14px;
    line-height: 1.5;
}