.experience__card {
    display: block;
    border-radius: .375rem;
    // padding: 1rem;
    display: flex;
    column-gap: 1rem;

    position: relative;

    &:hover {
        .card-overlay {
            display: block;
        }
    }
}

.experience-card__header {
    width: calc((100% - 7rem) / 8 * 2 + 1rem);



    color: rgb(100 116 139);
    letter-spacing: .025em;
    text-transform: uppercase;
    font-weight: 600;
    font-size: .75rem;
    line-height: 1rem;
    margin-top: .25rem;
    margin-bottom: .5rem;
    z-index: 10;
}



.experience-card__title {
    color: rgb(226 232 240);
    line-height: 1.25;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.5rem;
    align-items: baseline;
    display: inline-flex;
    margin-bottom: .5rem;
}

.experience-card__content {


    width: calc((100% - 7rem) / 8 * 6 + 5rem);


    line-height: 1.5;
    font-size: .875rem;
    // margin-top: .5rem;
}


.card-overlay {
    position: absolute;
    display: none;
    // background-color: orange;

    top: -1rem;
    bottom: -1rem;

    left: -1.5rem;
    right: -1.5rem;
    border-radius: .25rem;

    background-color: rgba(30, 41, 59, .5);
    // box-shadow: 0 0 #0000, 0 0 #0000, inset 0 1px 0 0 rgba(148, 163, 184, .1);

    z-index: -1;

    cursor: pointer;
}

.card-overlay2 {
    position: absolute;
    display: block;
    top: -1rem;
    bottom: -1rem;
    left: -1.5rem;
    right: -1.5rem;
    border-radius: .25rem;
    cursor: pointer;
}