.project-card {
    display: flex;
    column-gap: 1rem;
    align-items: start;
    position: relative;

    &:hover {
        .card-highlight {
            display: block;
        }
    }
}





.project-card__aside {
    width: calc((100% - 7rem) / 8 * 2 + 1rem);
    height: auto;
    border: 2px solid rgba(226, 232, 240, .1);
    border-radius: .25rem;
    display: block;
    max-width: 200px;

    img {
        width: 100%;
        height: auto;
        object-fit: cover;
    }
}

.project-card__main {
    width: calc((100% - 7rem) / 8 * 6 + 5rem);
    display: flex;
    flex-direction: column;
}

.project-card__title {
    display: inline-flex;
    column-gap: 2px;
    align-items: flex-end;

    & svg {
        transform: translate(0px, -1.5px);
        transition: transform .2s ease-in;
    }

    &:hover {
        & svg {
            transform: translate(3px, -3px);
        }
    }
}

.project-card__text {
    line-height: 1.5;
    font-size: .875rem;
    margin-top: .5rem;
}

.project-card__git-link {
    color: rgb(203 213 225);
    font-weight: 500;
    font-size: .875rem;
    line-height: 1.25rem;
    align-items: center;
    display: inline-flex;
    // margin-top: .5rem;
    margin-top: .75rem;
    position: relative;
    column-gap: .25rem;
}