.project-card {
    position: relative;
    display: flex;
    column-gap: 16px;
    align-items: start;
    opacity: 1;
    transition: all 2s ease-in-out;

    &:hover {
        .card-highlight {
            display: block;
        }
    }

    @include bp(640px) {
        flex-direction: column-reverse;
        row-gap: 16px;
    }
}

.project-card__aside {
    width: calc((100% - 112px) / 8 * 2 + 16px);
    height: auto;
    max-width: 200px;
    border: 2px solid rgba(226, 232, 240, .1);
    border-radius: 4px;
    z-index: 1;

    img {
        width: 100%;
        height: auto;
        object-fit: cover;
    }

    @include bp(640px) {
        width: 100%;
    }
}

.project-card__main {
    width: calc((100% - 112px) / 8 * 6 + 80px);
    z-index: 1;

    @include bp(640px) {
        width: 100%;
    }
}

.project-card__title {
    display: inline-flex;
    align-items: flex-end;
    column-gap: 2px;

    & svg {
        transform: translate(0px, -1.5px);
        transition: transform .2s ease-in;
    }

    &:hover {
        & svg {
            transform: translate(3px, -3px);
        }
    }
}

.project-card__text {
    margin-top: 8px;
    font-size: 14px;
    line-height: 1.5;
}

.project-card__github {
    position: relative;
    display: inline-flex;
    align-items: center;
    column-gap: 6px;
    margin-top: 12px;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    color: rgb(203 213 225);
}