<header class="header">
    <div>
        <h1 class="h1">Андрей Викторов</h1>
        <h2 class="h2">FullStack Веб-Разработчик</h2>
        <div class="header__info">Создание и провижение сайтов, интернет-магазинов и веб-приложений.</div>

        {% set items = [
            "HTML",
            "CSS",
            "SCSS",
            "BEM",
            "JavaScript",
            "React",
            "MySQL",
            "PHP",
            "Laravel",
            "Gulp",
            "WebPack",
            "Git"
        ] %}

        <div class="header-badges" style="width: 60%; margin-top: 1.5rem;">
            <ul class="badges-list">
                {% for item in items %}
                    <li>
                        <div class="badge badge--header">{{ item }}</div>
                    </li>
                {% endfor %}
            </ul>
        </div>

        {% include './../blocks/nav.html' %}
    </div>

    {% include './../blocks/contacts.html' %}
</header>