<header class="header">
    <div>
        <h1 class="h1 header__title">Андрей Викторов</h1>

        <h2 class="h2 header__subtitle">FullStack Веб-Разработчик</h2>
        <div class="header__info">Создание и провижение сайтов, интернет-магазинов и веб-приложений.</div>

        {% set badges = [
            "HTML",
            "CSS",
            "SCSS",
            "Gulp",
            "JavaScript",
            "React JS",
            "PHP",
            "Laravel",
            "MySQL",
            "WebPack",
            "Git"
        ] %}

        {% if badges | length %}
            <div class="header__badges">
                <ul class="badges">
                    {% for badge in badges %}
                        <li>
                            <div class="badge badge--header">{{ badge }}</div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}

        {% include './../blocks/nav.html' %}
    </div>

    {% include './../blocks/contacts.html' %}
</header>