.badge {
    color: rgb(94 234 212);
    line-height: 1.25rem;
    font-weight: 500;
    font-size: .75rem;
    line-height: 1rem;
    padding-top: .25rem;
    padding-bottom: .25rem;
    padding-left: .75rem;
    padding-right: .75rem;
    background-color: rgba(45, 212, 191, .1);
    border-radius: 9999px;
    align-items: center;
    display: flex;
}