.h1 {
    font-size: 48px;
    line-height: 1;
    color: rgb(226 232 240);
    letter-spacing: -.025em;
    font-weight: 700;

    @include bp(640px) {
        font-size: 2.25rem;
    }
}

.h2 {
    color: rgb(226 232 240);
    letter-spacing: -.025em;
    font-weight: 500;
    font-size: 1.125rem;
    line-height: 1.75rem;
    margin-top: .75rem;
}

.h3 {
    color: rgb(226 232 240);
    letter-spacing: .1em;
    text-transform: uppercase;
    font-weight: 700;
    font-size: .875rem;
    line-height: 1.25rem;
}

p+p {
    margin-top: 1rem;
}