// Base
@import "./base/reset";
@import "./base/fonts";
@import "./base/vars";
@import "./base/mixins";
@import "./base/base";
// @import "./base/utils";

// Elements
@import "./elements/badge";
@import "./elements/icons";
@import "./elements/typography";
@import "./elements/links";
// @import "./elements/buttons";
// @import "./elements/headers";

// Blocks
@import "./blocks/footer";
@import "./blocks/header";
@import "./blocks/languages";
@import "./blocks/details";
@import "./blocks/nav";
@import "./blocks/contacts";
// @import "./blocks/scrollup";

// Cards
@import "./cards/experience-card";
@import "./cards/project-card";

// Sections
@import "./sections/about";
@import "./sections/experience";
@import "./sections/projects";

// Mixins
// Modals
// Forms