// Base
@import "./base/reset";
@import "./base/fonts";
@import "./base/vars";
@import "./base/mixins";

@import "./base/base";
@import "./base/icons";
@import "./base/typography";

// Blocks
@import "./blocks/badge";
@import "./blocks/badges";
@import "./blocks/contacts";
@import "./blocks/details-button";
@import "./blocks/details-link";

@import "./blocks/footer";
@import "./blocks/header";
@import "./blocks/loader";
@import "./blocks/nav";

// Cards
@import "./cards/experience-card";
@import "./cards/project-card";

// Sections
@import "./sections/about";
@import "./sections/experience";
@import "./sections/projects";