// Base
@import "./base/reset";
@import "./base/fonts";
@import "./base/vars";
@import "./base/mixins";
@import "./base/base";

// Elements
@import "./elements/badge";
@import "./elements/icons";
@import "./elements/links";
@import "./elements/typography";

// Blocks
@import "./blocks/badges-list";
@import "./blocks/contacts";
@import "./blocks/details";
@import "./blocks/footer";
@import "./blocks/header";
@import "./blocks/languages";
@import "./blocks/nav";

// Cards
@import "./cards/experience-card";
@import "./cards/project-card";

// Sections
@import "./sections/about";
@import "./sections/experience";
@import "./sections/projects";