<section class="experience" id="experience">

    <div class="section-header">
        <h3 class="h3">Квалификация</h3>
    </div>

    {% set cards = [
        {
            'from': '2023',
            'to': '',
            'title': ' Курс "React.js разработчик"',
            'text': 'Окончил курс по разработке сайтов и веб-приложений на JavaScript c использованием библиотеки React.js.',
            'badges': ["JavaScript", "React.js"],
            'link': 'https://fs-thb03.getcourse.ru/fileservice/file/thumbnail/h/486fda764838c94a89e61e0f55961557.png/s/800x/a/17633/sc/37',
            'nofollow': true
        },
        {
            'from': '2023',
            'to': '',
            'title': 'Курс "JavaScript Frontend разработчик"',
            'text': 'Прошел обучение разработке пользовательских интерфейсов на языке JavaScript, включая работу с DOM, архитектурный паттерн MVC, создание SPA приложений, взаимодействие с сервером и API.',
            'badges': ["JavaScript"],
            'link': 'https://fs-thb03.getcourse.ru/fileservice/file/thumbnail/h/9f9a478ba2749caad8e7a40fd3267b14.png/s/800x/a/17633/sc/250',
            'nofollow': true
        },
        {
            'from': '2023',
            'to': '',
            'title': '"Laravel. Полный курс"',
            'text': 'Самостоятельно изучал PHP фреймворк Laravel, позволяющий ускорить разработку и повысить качество и безопасность веб-приложений за счет использования лучших практик, используемых в программировании.',
            'badges': ["Laravel", "PHP", "Eloquent ORM"],
            'link': 'https://www.youtube.com/playlist?list=PLXCVm4GFpx5CZf4X5ppNJTPsaGwSlBXLX',
            'nofollow': true
        },
        {
            'from': '2022',
            'to': '',
            'title': 'Курс "Разработка сайтов на PHP"',
            'text': 'Прошел обучение разработке серверной части сайтов и веб-приложений на языке PHP с базами данных MySQL, включая разработку системы управления контентом (CMS) для блогов, портфолио и интернет-магазинов.',
            'badges': ["PHP", "MySQL"],
            'link': 'https://fs-thb01.getcourse.ru/fileservice/file/thumbnail/h/c7831fabcdb21860f2ee0c6d041d2c1e.png/s/800x/a/17633/sc/316',
            'nofollow': true
        },
        {
            'from': '2023',
            'to': '',
            'title': 'Курс "Продвинутая вёрстка сайтов"',
            'text': 'Прошел курс по верстке многостраничных сайтов с использованием препроцессоров, шаблонизаторов, сборки Gulp, системы управления версиями Git.',
            'badges': ["SCSS", "Gulp", "Pug", "Git"],
            'link': 'https://fs-thb03.getcourse.ru/fileservice/file/thumbnail/h/4229ae83c439d8ed3e2c9a9d35315f1f.png/s/800x/a/17633/sc/204',
            'nofollow': true
        },
        {
            'from': '2022',
            'to': '',
            'title': 'Курс "HTML5 & CSS3. Вёрстка сайтов"',
            'text': 'Окончил курс по созданию и верстке сайтов. Систематизировал и углубил базовые знания и навыки веб-разработчика, включая создание адаптивной верстки и мобильной версии сайта.',
            'badges': ["HTML", "CSS", "BEM", "JavaScript", "Figma"],
            'link': 'https://fs-thb01.getcourse.ru/fileservice/file/thumbnail/h/f20a932a94a5f56e395ccd524558ceb2.png/s/800x/a/17633/sc/197',
            'nofollow': true
        },
        {
            'from': '2011',
            'to': 'н.в.',
            'title': 'ООО "Авангард Лоджистикс"',
            'text': 'Создал собственный бизнес в сфере логистики. Самостоятельно занимался созданием, наполнением, формированием портфолио выполненных работ и продвижением корпоративного сайта в поисковых системах, а также внедрением информационных технологий в бизнес-процессы.',
            'badges': ["Бизнес", "Логистика"],
            'link': 'https://zhd.su/',
            'nofollow': false
        },
        {
            'from': '2006',
            'to': '2011',
            'title': 'Санкт-Петербургский государственный университет путей сообщения',
            'text': 'Имею высшее образование в сфере бизнеса и логистики. Обладаю аналитическим складом ума. Разбираюсь в сопротивлении материалов и машиностроительных чертежах. Разрабатываю проекты размещения и крепления негабаритных и тяжеловесных грузов на железнодорожном транспорте.',
            'badges': ["Бизнес", "Логистика", "Информационные технологии", "Проектирование", "Autodesk AutoCAD"],
            'link': 'https://www.pgups.ru/',
            'nofollow': true
        }
    ] %}

    <ul class="experience__list">
        {% for card in cards %}
            <li>
                {% include './../cards/experience-card.html' %}
            </li>
        {% endfor %}
    </ul>

    {% set details = {
        'title': 'Скачать резюме',
        'link': ''
    } %}

    {% if details.link %}
        <div class="experience__details">
            {% include './../blocks/details-link.html' %}
        </div>
    {% endif %}
</section>