<section class="experience" id="experience">

    <div class="experience__title">
        <h3 class="h3">Опыт</h3>
    </div>

    {% set cards = [
        {
            'from': '2022',
            'to': '2024',
            'title': 'Senior Frontend Engineer',
            'text': 'Build and maintain critical components used to construct Klaviyo’s frontend, across the whole product. Work closely with cross-functional teams, including developers, designers, and product managers, to implement and advocate for best practices in web accessibility.',
            'badges': ["React", "JavaScript", "PHP"]
        },
        {
            'from': '2024',
            'to': 'Present',
            'title': 'Senior Frontend Engineer',
            'text': 'Build and maintain critical components used to construct Klaviyo’s frontend, across the whole product. Work closely with cross-functional teams, including developers, designers, and product managers, to implement and advocate for best practices in web accessibility.',
            'badges': ["React", "JavaScript", "PHP"]
        }
    ] %}

    <ul class="experience-list">
        {% for card in cards %}
            <li>
                {% include './../cards/experience-card.html' %}
            </li>
        {% endfor %}
    </ul>

    {% include './../blocks/details.html' %}
</section>