<section class="projects" id="projects">

    <div class="section-header">
        <h3 class="h3">Проекты</h3>
    </div>

    {% set cards = [
        {
            'title': 'Сайт туристического агентства',
            'preview': 'http://rightcode.pro/portfolio/travel/index.html',
            'github': 'https://github.com/aivictorov/car-dealership-website',
            'text': 'Фронтенд для сайта туристического агентства на фреймворке React JS. Формы поиска и бронирования отелей и перелетов. Страницы результатов поиска с фильтрами, сортировкой. Страницы регистрации и авторизации пользователей. Личный кабинет пользователя. Сохранение в личном кабинете избранных и забронированных перелетов и отелей.',
            'image': './img/projects/project_2.webp',
            'badges': ["HTML", "SCSS", "JavaScript", "React JS"]
        }, {
            'title': 'Верстка сайта автосалона',
            'preview': 'http://rightcode.pro/portfolio/auto/index.html',
            'github': '#!',
            'text': 'Pixel Perfect верстка главной страницы сайта автосалона по макету Figma с полной кастомизация элементов форм и реализацией всех необходимых интерактивных элементов на чистом JavaScript. Мобильная версия с адаптивный дизайном для любых мобильных устройств.',
            'image': './img/projects/project_1.webp',
            'badges': ["HTML", "SCSS", "JavaScript", "Gulp"]
        }, {
            'title': 'Сайт логистической компании',
            'preview': 'https://zhd.su',
            'github': '#!',
            'text': 'Многостраничный корпоративный сайт действующей транспортно-логистической компании в сфере перевозки негабаритных грузов железнодорожным транспортом. Работает на собственной CMS на фреймворке Laravel. Включающий в себя информационные страницы, масштабный раздел портфолио, раздел вопросы и ответы, а также формы обратной связи.',
            'image': './img/projects/project_3.webp',
            'badges': ["PHP", "MySQL", "Laravel"]
        }, {
            'title': 'Сайт логистической компании',
            'preview': 'https://zhd.su',
            'github': '#!',
            'text': 'Многостраничный корпоративный сайт действующей транспортно-логистической компании в сфере перевозки негабаритных грузов железнодорожным транспортом. Работает на собственной CMS на фреймворке Laravel. Включающий в себя информационные страницы, масштабный раздел портфолио, раздел вопросы и ответы, а также формы обратной связи.',
            'image': './img/projects/project_3.webp',
            'badges': ["PHP", "MySQL", "Laravel"]
        }
    ] %}

    <div>
        <ul class="projects__list">
            {% for card in cards %}
                <li>
                    {% include './../cards/project-card.html' %}
                </li>
            {% endfor %}
        </ul>

        {% set details = {
            'title': 'Показать больше проектов'
        } %}

        <div class="projects__details">
            {% include './../blocks/details-button.html' %}
        </div>
    </div>
</section>