<section class="projects" id="projects">

    <div class="section-header">
        <h3 class="h3">Проекты</h3>
    </div>

    {% set cards = [
        {
            'title': 'Сайт туристического агентства',
            'preview': 'http://rightcode.pro/portfolio/travel/index.html',
            'github': 'https://github.com/aivictorov/travel__react',
            'text': 'Фронтенд на фреймворке React.js. Верстка с компонентным подходом. Полнофункциональные страницы поиска, бронирования, отображения результатов с фильтрами и сортировкой, регистрации и авторизации. Личный кабинет с возможностью сохранения перелетов и отелей в избранное.',
            'image': './img/projects/project_1.webp',
            'badges': ["HTML", "SCSS", "JavaScript", "React JS"],
            'nofollow': true
        }, {
            'title': 'Верстка сайта автосалона',
            'preview': 'http://rightcode.pro/portfolio/auto/index.html',
            'github': 'https://github.com/aivictorov/auto',
            'text': 'Верстка Pixel Perfect главной страницы сайта автосалона по макету Figma. Мобильная версия с адаптивный дизайном. Кастомизация элементов форм. Реализация интерактивных элементов на JavaScript.',
            'image': './img/projects/project_2.webp',
            'badges': ["HTML", "SCSS", "JavaScript", "Gulp"],
            'nofollow': true
        }, {
            'title': 'Сайт логистической компании',
            'preview': 'https://zhd.su',
            'github': 'https://github.com/aivictorov/avlogistics',
            'text': 'Многостраничный корпоративный сайт действующей организации в сфере негабаритных перевозок грузов с CMS на фреймворке Laravel. Содержит информационные страницы, большой раздел портфолио, вопросы и ответы, форму обратной связи.',
            'image': './img/projects/project_3.webp',
            'badges': ["PHP", "MySQL", "Laravel"],
            'nofollow': false
        }, {
            'title': 'Схемы погрузки',
            'preview': 'https://shema-pogruzki.ru',
            'github': 'https://github.com/aivictorov/shema-pogruzki',
            'text': 'Одностраничный сайт-визитка с адаптивной версткой и интерактивными элементами на Javascript. Реализован калькулятор для расчета индекса негабаритности и форма обратной связи.',
            'image': './img/projects/project_4.webp',
            'badges': ["HTML", "SCSS", "JavaScript", "Nunjucks", "Gulp"],
            'nofollow': true
        }, {
            'title': 'Сайт-портфолио',
            'preview': 'https://rightcode.pro',
            'github': 'https://github.com/aivictorov/rightcode',
            'text': 'Одностраничный сайт-портфолио с минималистичным дизайном, адаптивной версткой для экранов любых мобильных устройств и интерактивными элементами на Javascript.',
            'image': './img/projects/project_5.webp',
            'badges': ["HTML", "SCSS", "JavaScript", "Nunjucks", "Gulp"],
            'nofollow': true
        }
    ] %}

    <div>
        <ul class="projects__list">
            {% for card in cards %}
                <li>
                    {% include './../cards/project-card.html' %}
                </li>
            {% endfor %}
        </ul>

        {% set details = {
            'more': 'Показать больше проектов',
            'less': 'Показать меньше проектов'
        } %}

        <div class="projects__details">
            {% include './../blocks/details-button.html' %}
        </div>
    </div>
</section>